## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Append the "conf" folder (keep the config.py file) to the system path 
import sys
sys.path.append('../conf')

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Eyl,SO,78.80,few clouds,7.9803,49.8164,Amiin Hotel
1,4,Namwala,ZM,73.33,broken clouds,-15.7504,26.4384,Corner Point Lodge
2,7,Vaini,TO,80.33,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,9,Moundou,TD,77.88,scattered clouds,8.5667,16.0833,Planete Life
4,11,Avarua,CK,80.65,light rain,-21.2078,-159.7750,Paradise Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Araguacu"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Araguacu"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Itapaci"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Coromandel"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Santa Vitoria"]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
48,161,Araguacu,BR,83.17,overcast clouds,-12.9306,-49.8264,Hotel Tocantins

In [7]:
vacation_start[["Lat","Lng"]].to_numpy()

array([[-12.9306, -49.8264]])

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
start = start[0]
end = vacation_end[["Lat","Lng"]].to_numpy()
end = end[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop1 = stop1[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop2 = stop2[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
stop3 = stop3[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_route = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(travel_route)
# 7b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,161,Araguacu,BR,83.17,overcast clouds,-12.9306,-49.8264,Hotel Tocantins
1,655,Itapaci,BR,81.63,overcast clouds,-14.9508,-49.5494,Gold Pallace Hotel
2,195,Coromandel,BR,76.17,broken clouds,-18.4733,-47.2003,Hotel Dona AdÃ©lia
3,271,Santa Vitoria,BR,85.33,overcast clouds,-18.8386,-50.1214,Center Hotel

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
itinerary_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(itinerary_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))